## Geopandas Functions to Calculate Green Space Percentage

In [2]:
import pandas as pd
import numpy as ny
import geopandas as gpd

C:\Users\teres\AppData\Local\Temp\ipykernel_20020\3568268968.py:3: DeprecationWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas still uses PyGEOS by default. However, starting with version 0.14, the default will switch to Shapely. To force to use Shapely 2.0 now, you can either uninstall PyGEOS or set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In the next release, GeoPandas will switch to using Shapely by default, even if PyGEOS is installed. If you only have PyGEOS installed to get speed-ups, this switch should be smooth. However, if you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [6]:
#set radius of buffer in here
RADIUS_BUFFER = 500

In [7]:
#Function to create centriod and buffer 

def centriod_buffer(df):
    df["centriod"]=df.geometry.centroid
    df["buffer"]=df.geometry.buffer(RADIUS_BUFFER)

In [8]:
#function to calculate green space ratio

def green_percentage(df, numerator_col, denominator_col="grid_area"):
    def get_buffer_percentage(buffer):
        intersects = df["geometry"].intersects(buffer)
        denominator = df[intersects][denominator_col].sum()
        numerator = df[intersects][numerator_col].sum()
        return numerator/denominator*100

    buffer_series = df["buffer"]
    return buffer_series.map(get_buffer_percentage)

### Import Designated Green Space GeoJson

In [5]:
#designated_greenspace

dgs=gpd.read_file("data/geojson/designated_greenspace.geojson")
dgs.head(1)

Cannot find header.dxf (GDAL_DATA is not defined)

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,dgs_area,dgs%,qusai_area,qgs%,water_area,water%,wild_area,wild%,geometry
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926..."

In [6]:
#Change data type to float

dgs=dgs.astype({
    'grid_area':'float',
    'total_gp_area':'float',
    'tgp_area%':'float',
    'dgs_area':'float',
    'dgs%':'float',
    'qusai_area':'float',
    'qgs%':'float',
    'water_area':'float',
    'water%':'float',
    'wild_area':'float',
    'wild%':'float'
})

In [7]:
centriod_buffer(dgs)
dgs.head()

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,dgs_area,dgs%,qusai_area,qgs%,water_area,water%,wild_area,wild%,geometry,centriod,buffer
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926...",POINT (627919.464 6932114.783),"POLYGON ((627412.278 6932100.593, 627412.832 6..."
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926...",POINT (627920.385 6932062.276),"POLYGON ((627412.646 6932090.873, 627413.273 6..."
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926...",POINT (627922.254 6931963.367),"POLYGON ((627416.425 6931990.873, 627417.053 6..."
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926...",POINT (627924.092 6931866.123),"POLYGON ((627420.205 6931890.873, 627420.832 6..."
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926...",POINT (627925.667 6931782.783),"POLYGON ((627423.985 6931790.873, 627424.612 6..."

In [10]:
dgs["green_percentage"] = green_percentage(dgs, "dgs_area")
dgs.head()

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,dgs_area,dgs%,qusai_area,qgs%,water_area,water%,wild_area,wild%,geometry,centriod,buffer,green_percentage
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926...",POINT (627919.464 6932114.783),"POLYGON ((627412.278 6932100.593, 627412.832 6...",0.0
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926...",POINT (627920.385 6932062.276),"POLYGON ((627412.646 6932090.873, 627413.273 6...",0.0
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926...",POINT (627922.254 6931963.367),"POLYGON ((627416.425 6931990.873, 627417.053 6...",0.0
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926...",POINT (627924.092 6931866.123),"POLYGON ((627420.205 6931890.873, 627420.832 6...",0.0
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926...",POINT (627925.667 6931782.783),"POLYGON ((627423.985 6931790.873, 627424.612 6...",0.0

### Import Qusai Green Space GeoJson

In [30]:
#quasi_greenspace

qgs=gpd.read_file("data/geojson/quasi_greenspace.geojson")

In [31]:
#Change data type to float

qgs=qgs.astype({
    'grid_area':'float',
    'total_gp_area':'float',
    'tgp_area%':'float',
    'dgs_area':'float',
    'dgs%':'float',
    'qusai_area':'float',
    'qgs%':'float',
    'water_area':'float',
    'water%':'float',
    'wild_area':'float',
    'wild%':'float'
})

In [32]:
centriod_buffer(qgs)
qgs.head()

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,dgs_area,dgs%,qusai_area,qgs%,water_area,water%,wild_area,wild%,geometry,centriod,buffer
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926...",POINT (627919.464 6932114.783),"POLYGON ((627412.278 6932100.593, 627412.832 6..."
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926...",POINT (627920.385 6932062.276),"POLYGON ((627412.646 6932090.873, 627413.273 6..."
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926...",POINT (627922.254 6931963.367),"POLYGON ((627416.425 6931990.873, 627417.053 6..."
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926...",POINT (627924.092 6931866.123),"POLYGON ((627420.205 6931890.873, 627420.832 6..."
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926...",POINT (627925.667 6931782.783),"POLYGON ((627423.985 6931790.873, 627424.612 6..."

In [33]:
qgs["green_percentage"] = green_percentage(qgs, "qusai_area")
qgs.head()

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,dgs_area,dgs%,qusai_area,qgs%,water_area,water%,wild_area,wild%,geometry,centriod,buffer,green_percentage
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926...",POINT (627919.464 6932114.783),"POLYGON ((627412.278 6932100.593, 627412.832 6...",0.0
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926...",POINT (627920.385 6932062.276),"POLYGON ((627412.646 6932090.873, 627413.273 6...",0.0
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926...",POINT (627922.254 6931963.367),"POLYGON ((627416.425 6931990.873, 627417.053 6...",0.0
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926...",POINT (627924.092 6931866.123),"POLYGON ((627420.205 6931890.873, 627420.832 6...",0.0
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926...",POINT (627925.667 6931782.783),"POLYGON ((627423.985 6931790.873, 627424.612 6...",0.0

### Import Wild Green Space GeoJson

In [3]:
#wild greenspace

wild=gpd.read_file("data/geojson/wild_greenspace.geojson")

Cannot find header.dxf (GDAL_DATA is not defined)

In [4]:
#Change data type to float

wild=wild.astype({
    'grid_area':'float',
    'total_gp_area':'float',
    'tgp_area%':'float',
    'dgs_area':'float',
    'dgs%':'float',
    'qusai_area':'float',
    'qgs%':'float',
    'water_area':'float',
    'water%':'float',
    'wild_area':'float',
    'wild%':'float'
})

In [9]:
centriod_buffer(wild)
wild.head()

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,dgs_area,dgs%,qusai_area,qgs%,water_area,water%,wild_area,wild%,geometry,centriod,buffer
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926...",POINT (627919.464 6932114.783),"POLYGON ((627412.278 6932100.593, 627412.832 6..."
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926...",POINT (627920.385 6932062.276),"POLYGON ((627412.646 6932090.873, 627413.273 6..."
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926...",POINT (627922.254 6931963.367),"POLYGON ((627416.425 6931990.873, 627417.053 6..."
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926...",POINT (627924.092 6931866.123),"POLYGON ((627420.205 6931890.873, 627420.832 6..."
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926...",POINT (627925.667 6931782.783),"POLYGON ((627423.985 6931790.873, 627424.612 6..."

In [10]:
wild["geometry"].crs

<Projected CRS: EPSG:26711>
Name: NAD27 / UTM zone 11N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: North America - between 120°W and 114°W - onshore. Canada - Alberta; British Columbia; Northwest Territories; Nunavut. Mexico. United States (USA) - California; Idaho; Nevada; Oregon; Washington.
- bounds: (-120.0, 26.93, -114.0, 78.13)
Coordinate Operation:
- name: UTM zone 11N
- method: Transverse Mercator
Datum: North American Datum 1927
- Ellipsoid: Clarke 1866
- Prime Meridian: Greenwich

In [37]:
wild["green_percentage"] = green_percentage(wild, "wild_area")
wild.head()

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,dgs_area,dgs%,qusai_area,qgs%,water_area,water%,wild_area,wild%,geometry,centriod,buffer,green_percentage
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926...",POINT (627919.464 6932114.783),"POLYGON ((627412.278 6932100.593, 627412.832 6...",8.959444
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926...",POINT (627920.385 6932062.276),"POLYGON ((627412.646 6932090.873, 627413.273 6...",12.194355
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926...",POINT (627922.254 6931963.367),"POLYGON ((627416.425 6931990.873, 627417.053 6...",16.585612
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926...",POINT (627924.092 6931866.123),"POLYGON ((627420.205 6931890.873, 627420.832 6...",18.438305
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926...",POINT (627925.667 6931782.783),"POLYGON ((627423.985 6931790.873, 627424.612 6...",18.910401

### Import Water GeoJson

In [38]:
#water

water=gpd.read_file("data/geojson/water.geojson")

In [39]:
#Change data type to float

water=water.astype({
    'grid_area':'float',
    'total_gp_area':'float',
    'tgp_area%':'float',
    'dgs_area':'float',
    'dgs%':'float',
    'qusai_area':'float',
    'qgs%':'float',
    'water_area':'float',
    'water%':'float',
    'wild_area':'float',
    'wild%':'float'
})

In [40]:
centriod_buffer(water)
water.head()

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,dgs_area,dgs%,qusai_area,qgs%,water_area,water%,wild_area,wild%,geometry,centriod,buffer
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926...",POINT (627919.464 6932114.783),"POLYGON ((627412.278 6932100.593, 627412.832 6..."
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926...",POINT (627920.385 6932062.276),"POLYGON ((627412.646 6932090.873, 627413.273 6..."
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926...",POINT (627922.254 6931963.367),"POLYGON ((627416.425 6931990.873, 627417.053 6..."
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926...",POINT (627924.092 6931866.123),"POLYGON ((627420.205 6931890.873, 627420.832 6..."
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926...",POINT (627925.667 6931782.783),"POLYGON ((627423.985 6931790.873, 627424.612 6..."

In [41]:
water["green_percentage"] = green_percentage(water, "water_area")
water.head()

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,dgs_area,dgs%,qusai_area,qgs%,water_area,water%,wild_area,wild%,geometry,centriod,buffer,green_percentage
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926...",POINT (627919.464 6932114.783),"POLYGON ((627412.278 6932100.593, 627412.832 6...",3.818492
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926...",POINT (627920.385 6932062.276),"POLYGON ((627412.646 6932090.873, 627413.273 6...",9.698737
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926...",POINT (627922.254 6931963.367),"POLYGON ((627416.425 6931990.873, 627417.053 6...",11.017470
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926...",POINT (627924.092 6931866.123),"POLYGON ((627420.205 6931890.873, 627420.832 6...",11.169989
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926...",POINT (627925.667 6931782.783),"POLYGON ((627423.985 6931790.873, 627424.612 6...",9.005937

### Import Total GeoJson

In [54]:
total=gpd.read_file("data/geojson/total_greenspace.geojson")
total

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,geometry
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926..."
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926..."
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926..."
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926..."
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926..."
...,...,...,...,...,...,...,...,...,...
13916,17803,639226.686572,6.928010e+06,639326.686572,6.927910e+06,10003,0.0,0.0,"MULTIPOLYGON (((639226.687 6928009.758, 639326..."
13917,17804,639226.686572,6.927910e+06,639326.686572,6.927810e+06,5071,0.0,0.0,"MULTIPOLYGON (((639226.687 6927857.557, 639226..."
13918,17956,639326.686572,6.928110e+06,639426.686572,6.928010e+06,81,0.0,0.0,"MULTIPOLYGON (((639329.322 6928009.758, 639326..."
13919,17957,639326.686572,6.928010e+06,639426.686572,6.927910e+06,477,0.0,0.0,"MULTIPOLYGON (((639333.595 6927909.758, 639326..."
13920,17958,639326.686572,6.927910e+06,639426.686572,6.927810e+06,390,0.0,0.0,"MULTIPOLYGON (((639335.685 6927860.835, 639326..."

In [56]:
#Change data type to float

total=total.astype({
    'grid_area':'float',
    'total_gp_area':'float',
    'tgp_area%':'float'
})

In [57]:
centriod_buffer(total)
total.head()

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,geometry,centriod,buffer
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926...",POINT (627919.464 6932114.783),"POLYGON ((627412.278 6932100.593, 627412.832 6..."
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251.0,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926...",POINT (627920.385 6932062.276),"POLYGON ((627412.646 6932090.873, 627413.273 6..."
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873.0,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926...",POINT (627922.254 6931963.367),"POLYGON ((627416.425 6931990.873, 627417.053 6..."
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495.0,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926...",POINT (627924.092 6931866.123),"POLYGON ((627420.205 6931890.873, 627420.832 6..."
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124.0,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926...",POINT (627925.667 6931782.783),"POLYGON ((627423.985 6931790.873, 627424.612 6..."

In [58]:
total["green_percentage"] = green_percentage(total, "total_gp_area")
total.head()

,id,left,top,right,bottom,grid_area,total_gp_area,tgp_area%,geometry,centriod,buffer,green_percentage
0,205,627826.686572,6.932210e+06,627926.686572,6.932110e+06,146.0,0.0,0.0,"MULTIPOLYGON (((627911.921 6932119.478, 627926...",POINT (627919.464 6932114.783),"POLYGON ((627412.278 6932100.593, 627412.832 6...",12.665663
1,206,627826.686572,6.932110e+06,627926.686572,6.932010e+06,1251.0,0.0,0.0,"MULTIPOLYGON (((627912.289 6932109.758, 627926...",POINT (627920.385 6932062.276),"POLYGON ((627412.646 6932090.873, 627413.273 6...",19.450879
2,207,627826.686572,6.932010e+06,627926.686572,6.931910e+06,873.0,0.0,0.0,"MULTIPOLYGON (((627916.069 6932009.758, 627926...",POINT (627922.254 6931963.367),"POLYGON ((627416.425 6931990.873, 627417.053 6...",24.793670
3,208,627826.686572,6.931910e+06,627926.686572,6.931810e+06,495.0,0.0,0.0,"MULTIPOLYGON (((627919.848 6931909.758, 627926...",POINT (627924.092 6931866.123),"POLYGON ((627420.205 6931890.873, 627420.832 6...",27.132313
4,209,627826.686572,6.931810e+06,627926.686572,6.931710e+06,124.0,0.0,0.0,"MULTIPOLYGON (((627923.628 6931809.758, 627926...",POINT (627925.667 6931782.783),"POLYGON ((627423.985 6931790.873, 627424.612 6...",25.637673

### Merging Areas% into one DF

In [19]:
grid=gpd.read_file("data/geojson/designated_greenspace.geojson")

In [24]:
grid=grid.loc[:, ['id','grid_area']]
grid=grid.set_index(["id"])
grid

       grid_area
id
205          146
206         1251
207          873
208          495
209          124
...          ...
17803      10003
17804       5071
17956         81
17957        477
17958        390

[13921 rows x 1 columns]

In [61]:
dgs_area_percent = dgs.loc[:,["id", "dgs_area" ,"green_percentage"]]
dgs_area_percent = dgs_area_percent.set_index(["id"]).rename(columns={"green_percentage":"dgs_area_percent"})
dgs_area_percent.head()

     dgs_area  dgs_area_percent
id
205       0.0               0.0
206       0.0               0.0
207       0.0               0.0
208       0.0               0.0
209       0.0               0.0

In [62]:
qgs_area_precent=qgs.loc[:,["id", "qusai_area" ,"green_percentage"]]
qgs_area_percent =qgs_area_precent.set_index(["id"]).rename(columns={"green_percentage":"qgs_area_percent"})
qgs_area_percent.head()

     qusai_area  qgs_area_percent
id
205         0.0               0.0
206         0.0               0.0
207         0.0               0.0
208         0.0               0.0
209         0.0               0.0

In [63]:
wild_area_precent=wild.loc[:,["id", "wild_area","green_percentage"]]
wild_area_percent=wild_area_precent.set_index(["id"]).rename(columns={"green_percentage":"wild_area_percent"})
wild_area_percent.head()

     wild_area  wild_area_percent
id
205        0.0           8.959444
206        0.0          12.194355
207        0.0          16.585612
208        0.0          18.438305
209        0.0          18.910401

In [64]:
water_area_precent=water.loc[:,["id", "water_area","green_percentage"]]
water_area_percent=water_area_precent.set_index(["id"]).rename(columns={"green_percentage":"water_area_percent"})
water_area_percent.head()

     water_area  water_area_percent
id
205         0.0            3.818492
206         0.0            9.698737
207         0.0           11.017470
208         0.0           11.169989
209         0.0            9.005937

In [65]:
total_area_precent=total.loc[:,["id", "total_gp_area","green_percentage"]]
total_area_percent=total_area_precent.set_index(["id"]).rename(columns={"green_percentage":"total_area_percent"})
total_area_percent.head()

     total_gp_area  total_area_percent
id
205            0.0           12.665663
206            0.0           19.450879
207            0.0           24.793670
208            0.0           27.132313
209            0.0           25.637673

In [67]:
frames = [grid, dgs_area_percent, qgs_area_percent, wild_area_percent, water_area_percent, total_area_percent]

final=pd.concat(frames, axis=1)
final.head()

,grid_area,dgs_area,dgs_area_percent,qusai_area,qgs_area_percent,wild_area,wild_area_percent,water_area,water_area_percent,total_gp_area,total_area_percent
id,,,,,,,,,,,
205,146,0.0,0.0,0.0,0.0,0.0,8.959444,0.0,3.818492,0.0,12.665663
206,1251,0.0,0.0,0.0,0.0,0.0,12.194355,0.0,9.698737,0.0,19.450879
207,873,0.0,0.0,0.0,0.0,0.0,16.585612,0.0,11.017470,0.0,24.793670
208,495,0.0,0.0,0.0,0.0,0.0,18.438305,0.0,11.169989,0.0,27.132313
209,124,0.0,0.0,0.0,0.0,0.0,18.910401,0.0,9.005937,0.0,25.637673

In [74]:
final.to_csv("data/final/final.csv")